<body class="fondoform" xmlns="http://www.w3.org/1999/html">
<div class="container ">
  <div class="row ">
    <div class="col s12 ">
      <h4 class="black-text center">Campañas Publicadas de Crumbik</h4>

      <div class="col s12 white">
        <table class=" centered " >
          <thead>
          <tr>
            <th data-field="price">C&oacute;digo</th>
            <th data-field="price">Fecha</th>
            <th data-field="price">Asunto</th>
            <th data-field="price"></th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>001</td>
            <td>01 August, 2015</td>
            <td>Aumente sus clientes</td>
            <td><td><a href="#hola" onmouseDown="alert('¿Desea eliminar la campaña?')" class="blue-text">Eliminar</a></td></td>
          </tr>

          <tr>
            <td>002</td>
            <td>04 September, 2015</td>
            <td>Compra Crumbik</td>
            <td><td><a href="#hola" onmouseDown="alert('¿Desea eliminar la campaña?')" class="blue-text">Eliminar</a></td></td>
          </tr>

          <tr>
            <td>003</td>
            <td>28 November, 2015</td>
            <td>M&aacute;s clientes, menos trabajo</td>
            <td><td><a href="#hola" onmouseDown="alert('¿Desea eliminar la campaña?')" class="blue-text">Eliminar</a></td></td>
          </tr>

          <tr>
            <td>004</td>
            <td>04 February, 2016</td>
            <td>Campañas en Twitter</td>
            <td><td><a href="#hola" onmouseDown="alert('¿Desea eliminar la campaña?')" class="blue-text">Eliminar</a></td></td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>





<div class="center">
  <a class=" waves-effect btn center white-text waves-light" <%=  link_to "Atras", paginas_opc_ejecutivo_sistema_path, class: "white-text" %></a>
</div>
</body>