<body class="fondoform">
<div class="container">
  <div class="row">

    <div class="col s12">
      <h4 class="black-text center">Modificar Datos</h4>
      <div class="input-field col s6">
        <input disabled value="Administrador de la Organizaci&oacute;n" id="disabled" type="text" class="validate">
        <label for="disabled">Rol </label>
      </div>

      <div class="input-field col s6 ">
        <i class="material-icons prefix iconnegro">account_circle</i>
        <input value="Mario" id="nombreAdmO" type="text" class="validate">
        <label for="nombreAdmO">Nombre</label>
      </div>

      <div class="input-field col s6 ">
        <i class="material-icons prefix iconnegro">account_circle</i>
        <input value="Aguirre" id="apellidoAdmO" type="text" class="validate">
        <label for="apellidoAdmO">Apellido</label>
      </div>

      <div class="input-field col s6">
        <i class="material-icons prefix iconnegro">email</i>
        <input value="maguirre@gmail.com" id="emailAdmO" type="text" class="validate">
        <label for="emailAdmO">Email</label>
      </div>

      <div class="input-field col s6">
        <i class="material-icons prefix iconnegro">phone</i>
        <input value="0276-8524798" id="telefonoAdmO" type="tel" class="validate">
        <label for="telefonoAdmO">Tel&eacute;fono</label>
      </div>


      <div class="input-field col s6">
        <select disabled>
          <option value disabled="2">Masculino</option>
        </select>
        <label>Sexo</label>
      </div>

      <div class=" input-field col s6">
        <input value="06 February, 1980" id="fechanacAdmO" type="date" class="datepicker">
      </div>

      <div class="file-field input-field col s6">
        <div class="btn black">
          <span>Foto</span>
          <input  type="file" multiple>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="valen.jpg">
        </div>
      </div>


      <div class="center">
        <a onmouseDown="alert('Los cambios se realizaron de manera exitosa')"
           id="btnSiguienteRegAdmO" class="btn waves-effect waves-light" type="submit">Guardar</a>
        <a class=" waves-effect btn center white-text waves-light" <%=  link_to "Atras", paginas_opc_administrador_org_path, class: "white-text" %></a>
      </div>
    </div>
  </div>

</div>

<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>

<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 10, // Creates a dropdown of 15 years to control year
        currentText: 'Hoy',
        firstDay: 1,
        dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
        closeText: 'Cerrar'
    });

</script>


</body>