<body class="fondoform" xmlns="http://www.w3.org/1999/html">
<div class="container">
  <div class="row">


      <h4 class="black-text center">Modificar Datos de la Organizaci&oacute;n</h4>
    <div class="col s12 fondodiv">

      <div class="input-field col s6">
        <select disabled>
          <option value=""disabled selected>Oro</option>
          <option value="1">Bronce - Gratis</option>
          <option value="2">Plata - 50$</option>
          <option value="3">Oro - 200$</option>
        </select>
        <label>Tipo de plan</label>
      </div>

      <div class="input-field col s6">
        <select disabled>
          <option value="" disabled selected>Servicios</option>
          <option value="1">Producci&oacute;n</option>
          <option value="2">Compra - Venta</option>
          <option value="2">Servicios</option>
          <option value="3">Sin fines de Lucro</option>
        </select>
        <label>Tipo de Organizaci&oacute;n</label>
      </div>

      <div class="input-field col s6 ">
        <i class="material-icons prefix iconnegro">business</i>
        <input disabled value="2549856" id="iFiscalOrg" type="text" class="validate">
        <label  for="iFiscalOrg">Identificaci&oacute;n Fiscal</label>
      </div>

      <div class="input-field col s6 ">
        <i class="material-icons prefix iconnegro ">business</i>
        <input value="Tombola" id="nombreOrg" type="text" class="validate">
        <label class="active" for="nombreOrg">Nombre</label>
      </div>

      <div class="input-field col s6">
        <i class="material-icons prefix iconnegro">location_on</i>
        <input value="Venezuela"id="paisOrg" type="text" class="validate">
        <label class="active" for="paisOrg">Pa&iacute;s</label>
      </div>


      <div class="input-field col s6">
        <i class="material-icons prefix iconnegro">phone</i>
        <input value="0251-2336052"id="telefonoOrg" type="tel" class="validate">
        <label class="active" for="telefonoOrg">Tel&eacute;fono</label>
      </div>

      <div class="input-field col s6">
        <i class="material-icons prefix iconnegro">email</i>
        <input value="tombola@gmail.com" id="emailAdmO" type="text" class="validate">
        <label class="active"for="emailAdmO">Email</label>
      </div>

      <div class="input-field col s6">
        <i class="material-icons prefix iconnegro">web</i>
        <input value="www.tombola.com.ve" id="pagWeb" type="text" class="validate">
        <label class="active"for="pagWeb">Pagina Web</label>
      </div>

      <div class="input-field col s6">
        <i class="material-icons prefix iconnegro">web</i>
        <input value="facebook.com/tombola" id="faceOrg" type="text" class="validate">
        <label class="active"for="faceOrg">Facebook</label>
      </div>

      <div class="input-field col s6">
        <i class="material-icons prefix iconnegro">web</i>
        <input value="twitter.com/tombola" id="twitOrg" type="text" class="validate">
        <label class="active" for="twitOrg">Twitter</label>
      </div>

      <div class="input-field col s6">
        <i class="material-icons prefix iconnegro">web</i>
        <input value="instagram.com/tombola"id="instaOrg" type="text" class="validate">
        <label class="active" for="instaOrg">Instagram</label>
      </div>



      <div class="file-field input-field col s6">
        <div class="btn black">
          <span>Logo</span>
          <input type="file" multiple>
        </div>
        <div class="file-path-wrapper">
          <input value="tombola.jpg" class="file-path validate" type="text" placeholder="Upload one or more files">
        </div>
      </div>



    </div>

    <div class="row">
      <div class="center col s12">

        <a onmouseDown="alert('Los cambios se realizaron de manera exitosa')"
           id="btnSiguienteRegAdmO" class="btn waves-effect waves-light" type="submit">Guardar</a>
        <a class=" waves-effect btn center white-text waves-light" <%=  link_to "Atras", paginas_opc_administrador_org_path, class: "white-text" %></a>
      </div>
    </div>
  </div>
</div>

</div>

<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>

<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 10, // Creates a dropdown of 15 years to control year
        currentText: 'Hoy',
        firstDay: 1,
        dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
        closeText: 'Cerrar'
    });

</script>


</body>