<div id="footer_org">
<div class="row contenedor">
	<div class="col s1">
			<img id="logo"	src="<%= asset_path '' %>">
	</div>
	<div class="col s4 centro">
		<p class="blanco">Servicio las 24 horas</p>
		<span class="blanco grande"> 0500 - </span><span class="blanco grande"> 2589647</span> <span class="blanco grande"> - 00</span>

	</div>
	<div class="col s2 chula">
		<h6 class="azul">QUICK LINKS</h6>
		<p class="blanco delgado"> Features</p>
		<p class="blanco delgado"> Pricing & Sign Up</p>
		<p class="blanco delgado"> Features</p>
	</div>
	<div class="col s2 chula">
		<h6 class="azul">RESOURCES</h6>
		<p class="blanco delgado"> Help Center</p>
		<p class="blanco delgado"> Certified Consultants</p>
		<p class="blanco delgado"> Demo Videos</p>
		<p class="blanco delgado"> Developer API</p>
	</div>
  <div class="col s2 chula">
    <h6 class="azul">OUR OFFICES</h6>
    <p class="blanco delgado"> Venezuela</p>
    <p class="blanco delgado"> España</p>
    <p class="blanco delgado"> Usa</p>

  </div>

</div>

</div>