<ul id="slide-out" class="side-nav">
    <% if current_user != nil %>
    <% if current_user.rol == '1' %> 
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
    <% else %>
    <li><a href="">Prueba 1</a></li>
    <li><a href="">Prueba 2</a></li>
    <li><a href="">Prueba 3</a></li>
    <% end %>
    <% end %>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">Padre</div>
        <div class="collapsible-body">Hijo 1</div>
        <div class="collapsible-body">Hijo 2</div>
      </li>
    </ul>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="small mdi-navigation-menu" style="color: #000;" ></i></a>