<h2 class="center">Registro de pagos</h2>

<%= render 'form' %>
<% if notice %>
  <p class="card-panel teal lighten-2"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="card-panel teal lighten-2"><%= alert %></p>
<% end %>


