<!-- 
  Autor  : Edgar Gonzalez
  Web    : http://egonzale.org
  Email  : egonzale@ucla.edu.ve
  Rails  : version 4.2.1
  Fecha  : 12 de mayo del 2015
-->
<!-- Incluya los javascripts propios -->
<script type="text/javascript" src="<%= asset_path 'js/ejemplo13/ejemplo13.js' %>"></script>
<!-- Incluya hojas de estilos propios -->
<link rel="stylesheet" type="text/css" href="<%= asset_path 'css/micss.css' %>">

 <h1>Introducci&oacute;n a Extjs 5.1</h1>

 <div id="tree_el"></div>
